@font-face {
    font-family: "DM Mono";
    src: url("assets/fonts/DMMono-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "DM Mono";
    src: url("assets/fonts/DMMono-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "DM Mono";
    src: url("assets/fonts/DMMono-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "DM Mono";
    src: url("assets/fonts/DMMono-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "DM Mono";
    src: url("assets/fonts/DMMono-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "DM Mono";
    src: url("assets/fonts/DMMono-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
}

@media (max-width: 920px) {

}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

* h1 {
    font-family: "DM Mono";
    font-weight: 500;
}

.container-hero{
    display: flex;
    align-items: center;
    background-color: #F2F1EC;
    padding: 0 25px;
    height: 100vh;
}

.hero-info{
    flex: 0 0 60%;
}

.hero-info h1{
    font-size: 5rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 2rem;
    letter-spacing: 0.3rem;
}

.hero-bild{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 40%;
}

.hero-bild img{
    width: 300px;
    height: 300px;
}

.hero-details{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 100px;
    padding: 0 100px 0 0;
}

.hero-details p{
    margin: 0;

}

.hero-details-pill{
    background-color: rgb(17, 64, 216);
    width: fit-content;
    flex-shrink: 0;
    color: #fff;
    padding: 0.4rem 1rem;
    font-size: 1 rem;
    border: none;
    border-radius: 50px;
    margin: 0;
    align-items: center;
}
